@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
#tx1{
    font-family: 'Roboto', sans-serif;
    font-size:45px;
    color:white
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
#tx2{
    font-family: 'Roboto Condensed', sans-serif;
    color:white
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
#tx3{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    color:white
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
#tx4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:17px;
    color:white
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
#tx5{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    color:white;
